<h3>觀察列表</h3>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<h4>均線</h4>
<table class="table">
	<tr>
		<td>股票代號</td><td>均線數</td><td>股價</td><td>均價</td>
	</tr>
	<tr ng-repeat="x in showAvg">
		{% raw %}
		<td>{{x.stock_number}}</td>
		<td>{{x.avg_number}}</td>
		<td>{{final_price[x.stock_number]}}</td>
		<td>{{avg[x.stock_number]|number:2}}</td>
		{% endraw %}
	</tr>
</table>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<h4>均線乖離</h4>
<table class="table">
	<tr>
		<td>股票代號</td><td>均線數</td><td>均線乖離</td><td>股價</td><td>均價</td><td>預估買點</td>
	</tr>
	<tr ng-repeat="x in showAvgDelicate">
		{% raw %}
		<td>{{x.stock_number}}</td>
		<td>{{x.avg_number}}</td>
		<td>{{x.avg_delicate}}</td>
		<td>{{final_price[x.stock_number]}}</td>
		<td>{{avg[x.stock_number]|number:2}}</td>
		<td>{{avg[x.stock_number]*(1-(x.avg_delicate|number)/100)|number:2}}</td>
		{% endraw %}
	</tr>
</table>
